---
import Layout from '../layouts/Layout.astro';
const pageTitle = "About Page";
---
<Layout title={pageTitle}>
    <div transition:animate="slide" transition:name="page">
        <h2>My awesome blog subtitle</h2>
        <p>This is the about page</p>
    </div>
</Layout>
