---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";

const title = "My Blog";
const allPosts = await getCollection("posts");
---
<Layout title={title}>
    <div transition:animate="slide" class="overflow-hidden shadow dark:shadow-white/10">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-600">
            {allPosts.map((post) => (
                <BlogPost post={post} />
            ))}
        </ul>
    </div>
</Layout>
